.App {
  min-height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
}

.NavDrawer {
  border-right: 0 !important;
}

.DrawerContent a {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.UnstyledLink {
  text-decoration-line: unset;
  color: unset;
}

@media only screen and (max-width: 800px){
  .Desktop-Only {
    display: none;
  }
}
